<div class="container">
  <div class="row d-grid justify-content-between mt-5 mb-5">
    <div class="col bg-light pt-2 pb-2">
        <h2>My profile</h2>
        <p>Email: <br> <%= @user.email %></p>
        <p>Username: <br> <%= @user.username %></p>

        <h2>My cars</h2><br>
          <p><%= link_to "➕ Add a new car", new_car_path, class: "user show btn btn-outline-primary" %></p>
        <ul>
        <% @cars.each do |car| %>
          <li>  <%= link_to car.model, car_path(car) %> - 
            <%= car.price %>$/day - 
            <%= link_to "🖊", edit_car_path(car)%> -
            <%= link_to "🗑", car_path(car), method: :delete, id: "delete-link sweet-alert-demo" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col bg-light ml-2 pt-2 pb-2">
      <h2>Cars rented</h2>
        <% @rentals.each do |rental| %>
          <div class="user-rents-cards">
            <p>Renter : <%= rental.user.username %></p>
            <p>Car model: <%= rental.car.model %></p>
            <p>Number of days : <%= ((rental.end_date - rental.start_date)/86400).to_i %> Days</p>
            <p> Start date: <%= rental.start_date.strftime('%Y-%m-%d') %></p>
            <p>End date: <%= rental.end_date.strftime('%Y-%m-%d') %> </p>
            <p>Rental price: <%= (rental.car.price * (rental.end_date - rental.start_date)/86400).to_i %> €</p>
            <div class="button-destroy">
              <button id="sweet-alert-demo">🗑</button>
              <%= link_to "", rental_path(rental), method: :delete, id: "delete-link", class: "hidden" %>
            </div>
          </div>
        <% end %>
    </div>

      <div class="col bg-light ml-2 pt-2 pb-2">
        <% counter = 0 %>
        <h2>Reservation:</h2>
        <%#= link_to "➕ Book a car", root_path, class: "user show btn btn-outline-primary" %>
        <p><% @rentals.each do |rental| %></p>
          <div class="user-reservation-cards">
            <% if rental.car.photo.attached? %>
                <%= cl_image_tag rental.car.photo.key, crop: :fill, class:"index-img"%>
              <% else %>
                <img src="https://i.pinimg.com/originals/b3/b0/0d/b3b00d8a4250d30936c290faa10c5f36.jpg" alt="Car picture" class="index-img">
            <% end %>
            <% counter += 1 %>
            <div class="user-reservation-cards-info">
              
              <h4><%= rental.car.model %></h4>
              <h4><%= (rental.car.price * (rental.end_date - rental.start_date)/86400).to_i %> €</h4>
              <p>Start date: <%= rental.start_date.strftime('%Y-%m-%d') %></p>
              <p>End date: <%= rental.end_date.strftime('%Y-%m-%d') %> </p>
              <p>Booking number: <%= counter %></p>
              <div class="button-destroy">
                <button id="sweet-alert-demo2">🗑</button>
                <%= link_to "", rental_path(rental), method: :delete, id: "delete-link2", class: "hidden"%>
              </div>
            </div>
          </div>
        <% end %>

      </div>
  </div>
</div>
