<h1>All our cars</h1>

<% @cars.each do  |car| %>
  <p><%= link_to car.model, car %> |
  <%= car.capacity %> |
  <%= car.price %> |
  <%= car.id %> |
  <%= car.location %> |
  <%= User.find(car.user_id).username %></p>
<% end %>